html,body{
    
    width:100%;height:100%;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
    border:none;
    color:#000;
    padding:0;margin:0;
    
}
.swiper-container{
    width:100%;height:100%;
}
.swiper-wrapper{
    width:100%;height:100%;
}
.swiper-slide{
    width:100%;height:100%;
}

/*一屏*/
header{
    width:100%;
    position:relative;
}
.head-nav{
    width:100%;height:0.86rem;
    border-bottom:0.05rem solid #FF4B03;
}
.head{
    width:1.05rem;height:100%;
    position:absolute;
    left:0;top:0;

}
.user{
	width:0.64rem;height:0.64rem;
	position:absolute;
	margin-left:0.19rem;
	margin-top:0.12rem;
	border-radius:50%;
}
.user img{
	width:100%;height:100%;
	border-radius:50%;
	padding:0;margin:0;
	float:left;
}
.head-nav .nav-menu{
    width:5.4rem;height:100%;
    margin:0 auto;
    overflow: hidden;
}
.nav-menu li{
    width:1.08rem;height:100%;
    float:left;
    text-align: center;
    line-height:0.86rem;
    font-size:0.4rem;
}
.btn{
    width:1.05rem;height:100%;
    position:absolute;
    right:0;top:0;
    line-height: 0.7rem;
    text-align: center;
}
.btn:before{
    content:"\e61a";
    color:#FF4B03;
    font-size: 0.5rem;
}
.sousuo{
    height:0.6rem;
    width:100%;
    background:#F5ECEC;
    position:relative;
    padding:0 0.24rem;
}
.sousuo input{
    width:7rem;
    height:0.43rem;
    background:#fff;
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    margin:auto;
    font-size:0.2rem;
    border-radius:0.17rem;
}
.sousuo input:before{
    content:"\e639";
    color:#FF4B03;
}

/*内容*/
.news-neirong{
	width:100%;
	position:relative;
}
.news-neirong .short-text{
	width:7.02rem;height:2.06rem;
	border-bottom:2px solid #CFCFCF;
	position:absolute;
	left:0;right:0;top:0;
	margin:auto;
	padding:0.2rem 0;
}
.news-neirong .news-text:nth-child(2){
	top:2.06rem;
}
.news-neirong .news-text:nth-child(3){
	top:4.12rem;
}
.news-neirong .news-text:nth-child(4){
	top:7.21rem;
}
.news-neirong .news-text:nth-child(5){
	top:10.2rem;
}
.news-box{
	width:4.41rem;height:1.6rem;
	position:relative;
}
.news-box p{
	width:4.41rem;
	position:absolute;
	left:0;top:0;
	font-size:0.3rem;
	color:#000;
}
.bottom{
	width:100%;height:0.39rem;
	position:absolute;
	bottom:0;
	font-size:0.24rem;
}
.bottom .biank{
	width:0.61rem;height:0.36rem;
	border:1px solid #FF4901;
	color:#FD2502;
	text-align: center;
	line-height: 0.36rem;
	border-radius: 0.10rem;
	padding:0.03rem 0.03rem;
}
.bottom .noiank{
	color:#92908F;
}
.news-pinglun{
	float:right;
}
.news-pinglun span:nth-child(1){
	border:0;
	color:#92908F;
}
.news-pinglun span:nth-child(2){
	width:0.32rem;height:0.18rem;
	border:1px solid #92908F;
	border-radius: 0.10rem;
}
.news-pinglun span:nth-child(2):before{
	content:"\e648";
	font-size:0.7rem;
	line-height:0.18rem;
	vertical-align:bottom;
}
.news-left{
	width:2.32rem;height:1.6rem;
	background:red;
	position:absolute;
	right:0;top:0.2rem;
}
.news-left img{
	width:100%;height:100%;
}
.long-text{
	width:7.02rem;
	height:3.09rem;
	border-bottom:2px solid #CFCFCF;
	position: absolute;
	left:0;right:0;margin:auto;
	padding:0.2rem 0;
}
.long-text .long{
	width:100%;height:100%;
	position:relative;
}
.long p{
	width:100%;
	position:absolute;
	left:0;top:0;
	font-size:0.3rem;
	color:#000;
}
.news-img{
	width:100%;
	height:1.34rem;
	position:absolute;
	top:0.8rem;
}
.news-img .img-box{
	width:2.26rem;
	height:1.34rem;
	float:left;
	background:red;
}
.news-img .img-box img{
	width:100%;height:100%;
}
.news-img .img-box:nth-child(2){
	margin-left:0.1rem;
}
.news-img .img-box:nth-child(3){
	margin-left:0.1rem;
}

/*第二屏*/
.news-banner{
	width:100%;height:3.13rem;
	background:red;
}
.news-banner img{
	width:100%;height:100%;
}
.second .news-text:nth-child(1){
	position:absolute;
	top:0rem;
}
.second .news-text:nth-child(2){
	position:absolute;
	top:3.09rem;
}
.second .news-text:nth-child(3){
	position:absolute;
	top:5.15rem;
}
.second .news-text:nth-child(4){
	position:absolute;
	top:7.21rem;
}

/*第三屏*/]
.news-video{
	width:100%;
}
.video-box{
	width:100%;
	position:relative;
}
.video-box p{
	width:5.70rem;
	margin-left:0.24rem;
	font-size:0.3rem;
	padding:0.3rem 0;
}
.video{
	width:100%;height:4.32rem;
	background:red;
}
.video img{
	width:100%;height:100%;
}
.mail-box{
	width:1.8rem;height:0.62rem;
	float:right;
	margin-right:0.24rem;
}
.mail{
	float:left;
}
.mail:before{
	content:"\e60e";
	font-size:0.6rem;
	vertical-align:middle;
}
.mail-box span{
	font-size:0.35rem;
	color:#B7B3B1;
	float:left;
	margin-top:0.35rem;
	margin-left:0.05rem;
}
.mail-box .dian{
	width:0.6rem;height:0.15rem;
	margin-top:0.42rem;
	float:left;
	margin-left:0.2rem;
}
.mail-box .dian .smdian{
	width:0.15rem;height:0.15rem;
	background:#B7B3B1;
	border-radius: 50%;
	float:left;
	margin-left:0.05rem;
}
.fenge{
	width:7.02rem;height:0.26rem;
	background:#DCDCDC;
	margin-left:0.24rem;
	margin-top:1rem;
}

/*第四屏*/
.manage{
	width:100%;
	height:0.89rem;
	border-bottom:2px solid #BAB8B8;
	position:relative;
}
.manage span:nth-child(1){
	width:0.96rem;height:0.5rem;
	margin-left:0.24rem;
	float:left;
	margin-top:0.245rem;
	border:1px solid #000;
	border-radius:0.1rem;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.5rem;
}
.manage span:nth-child(2){
	width:1.5rem;height:0.42rem;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	margin:auto;
	font-size:0.36rem;
}
.manage span:nth-child(3){
	float:right;
	margin-right:0.24rem;
}
.manage span:nth-child(3):before{
	content:"\e639";
	font-size:0.6rem;
	vertical-align: middle;
}
.mypindao{
	width:100%;
}
.mypd{
	width:100%;height:0.56rem;
	border-bottom:1px solid #D9D8D7;
}
.smrect{
	width:0.06rem;height:0.3rem;
	background:#FF0000;
	margin-top:0.13rem;
	float:left;
}
.mypd span{
	font-size:0.24rem;
	color:#A5A3A3;
	line-height:0.56rem;
	text-indent: 0.2rem;
	float:left;
}
.pd-small{
	width:7.02rem;
	margin-left:0.24rem;
}
.pd-small ul{
	width:100%;
	padding:0.25rem 0;
	display: flex;
	justify-content:space-around;
}
.pd-small ul:nth-child(1){
	margin-top:0.15rem;
}
.pd-small ul li{
	width:1.24rem;height:0.54rem;
	float:left;
	margin-left:0.37rem;
	border:1px solid #000;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.54rem;
	border-radius:0.10rem;
}
.bgrect{
	width:7.02rem;height:0.12rem;
	margin-left:0.24rem;
	margin-top:0.15rem;
	background:#E6E3E3;
}
.pd-center{
	width:3rem;height:0.6rem;
	border:1px solid #FF0000;
	border-radius:0.13rem;
	margin: 0 auto;
	margin-top:0.54rem;
	margin-bottom:0.29rem;
	font-size:0.3rem;
	text-align: center;
	line-height: 0.6rem;
}
.pd-center .left{
	width:50%;height:100%;
	background:#FF0000;
	color:#fff;
	float:left;
}
.pd-center .right{
	width:50%;height:100%;
	color:#FF0000;
	float: left;
}
.pd-small ul:nth-child(5){
	width:1.24rem;height:0.54rem;
}
.more{
	width:7.02rem;height:0.5rem;
	margin-left:0.24rem;
	border:1px solid #AAAAAA;
	font-size:0.3rem;
	color:#FF0303;
	text-align: center;
	line-height: 0.5rem;
	margin-top:0.8rem;
}
